<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["title"]</title>

    <link rel="stylesheet" href="~/css/identity-boilerplate.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ant-design-blazor/0.4.1/_content/AntDesign/css/ant-design-blazor.min.css" integrity="sha512-YZf2tRl8e6a3hSEe83/Ljl5JbGkXgnTz9c3PiEr+Y/60N7UtDoEstagARzPqKAi91DyCz3QGd4S8TfGKixHqhw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link href="/_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet" />
    <script src="/_content/AntDesign/js/ant-design-blazor.js"></script>
</head>
<body>

<!-- Create a container in middle of the page -->
<!-- In the left side of the container, add an image -->
<!-- In the right side of the container, add a form -->
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        <div class="col-md-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-xl-6 mx-auto">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await RenderSectionAsync("Scripts", false);
</body>
</html>