@page "/Essentials-Tips"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@inject NavigationManager _navigationManager

<PageHeader Class="site-page-header" Title="Conseils et astuces"
    Subtitle="Apprenez même la plus petite des astuces, commentez et soyez l'auteur même d'une astuce qui aidera plus d'un !">
    <PageHeaderBreadcrumb>
        <Breadcrumb>
            <BreadcrumbItem Href="/">
                <Icon Type="home" />
            </BreadcrumbItem>
            <BreadcrumbItem Href="@_navigationManager.Uri">
                <Icon Type="book" />
                <span>Essentials</span>
            </BreadcrumbItem>
        </Breadcrumb>
    </PageHeaderBreadcrumb>
</PageHeader>


@code {

}