@page "/MyDailyTasks"
@using Microsoft.AspNetCore.Authorization

@inject NavigationManager _navigationManager

@attribute [Authorize]

<Breadcrumb>
    <BreadcrumbItem Href="/">
        <Icon Type="home" />
    </BreadcrumbItem>
    <BreadcrumbItem Href="@_navigationManager.Uri">
        <Icon Type="tasks" />
        My Daily Tasks
    </BreadcrumbItem>
</Breadcrumb>
<br/>

<h3>Vos missions quotidiennes</h3>
<Button type="@ButtonType.Primary" @onclick="FillDailyTasksAsync">Simuler cron-job journalier</Button>

@if (_dailyTasks is null
     || !_dailyTasks.Any())
{
    <Empty Image="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
           ImageStyle='@("height: 60px")'>
        <DescriptionTemplate>
            <span>Vous avez déjà rempli toutes vos missions :D</span>
        </DescriptionTemplate>
    </Empty>
}
else
{
    foreach (var dailyTask in _dailyTasks)
    {
        <TodoUnit DailyTask="dailyTask" CompleteTask="CompleteTask"/>
    }
}
