@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmation d'enregistrement";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    TODO: (En attendant que le système soit fait) <a id="confirm-link" href="@Model.EmailConfirmationUrl">Cliquez ici pour confirmer votre compte</a>
</p>
    }
    else
    {
<p>
        TODO: Merci de vérifier vos mails pour confirmer votre compte.
</p>
    }
}

