@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager _navigation
@inject SignOutSessionStateManager _signOutManager

<AuthorizeView>
    <Authorized>
        <p class="text-white">@context.User.Identity.Name</p>
        <Avatar Style="@($"background-color: {color}; vertical-align: middle;")" Size="large" class="py-2">
            @context.User.Identity.Name[0]
        </Avatar>
        @*<a href="authentication/profile">Bonjour, @context.User.Identity?.Name!</a>
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Se déconnecter</button>*@
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">S'enregistrer</a>
        <a href="authentication/login">Se connecter</a>
    </NotAuthorized>
</AuthorizeView>

@code{

    public string color { get; set; } = "#c4c4c4";
    

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await _signOutManager.SetSignOutState();
        _navigation.NavigateTo("authentication/logout");
    }
}
