@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay/>
        </div>

        <article class="content p-4">
            <div class="d-flex">
                <div>
                    <SideBar/>
                </div>   
                <div class="container">
                    @Body
                </div>
            </div>
        </article>
    </main>
</div>