<nav class="flex-column sidebar__nav--resp">
    <div class="nav-item px-3">
        <NavLink class="nav-link text-black" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link text-black" href="essentials-tips">
            <span class="oi oi-plus" aria-hidden="true"></span> Conseils pratiques
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link text-black" href="mydailytasks">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Mes tâches quotidiennes
        </NavLink>
    </div>
</nav>

@code {

}